<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.core.dao.BbsBuyerMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 username, password, gender, email, real_name AS realName, register_time AS registerTime, province, city, town, addr, is_del AS isDel
	</sql>

</mapper>